{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block stylesheets %}
    <style>
    .card img {
        width: 250px;
    }
    body {
        background-image: url('/img/merch-husey-Omy-jLERVBo-unsplash.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    .card {
        background-color: rgb(36, 38, 38);
        border-radius: 50px;
    }
    .test {
        height: 250px;
    }
    .badge {
        border-radius: 5px;
    }
    .page {
        width: 100%;
    }
    .pagination {
        margin: auto;
        margin-left: 20%;
    }
    </style>
{% endblock %}

{% block body %}

<div class="container">
    <nav class="navbar navbar-light bg-dark text-light mb-4">
        <a class="navbar-brand">LE CINE DU QUARTIER</a>
        <form class="form-inline my-2 my-lg-0" action="{{path('movies')}}" method="get" >
           <input name="search" class="form-control mr-sm-2"  type="search" placeholder="Rechercher">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
         </form>
    </nav>
</div>

<div class="container">
    <div class="row text-center">
        {% for movies in list %}
            <div class="card-deck mb-3 col-md-4">
                <div class="card ">
                    <div class="row">
                        <div class="col md-6 text-center mt-2">
                            <div class="card-body">
                                <h5 class="card-title text-danger font-weight-bold">{{ movies.name}}</h5>
                            </div>
                            <img class="card-img" src="{{ movies.cover }}" alt="Image du film">
                            <div class="detail">
                                <a class="btn btn-primary mt-3 mb-3" href="{{ path('movie', {id: movies.id}) }}"
                                role="button">Détail du film</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="page">
        <div class="pagination mb-3">
            {{ knp_pagination_render(list) }}
        </div>
    </div>
</div>


{% endblock %}
