{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block stylesheets %}
    <style>

    body {
        background-color: rgb(88, 117, 46);
    }
    .jumbotron {
        Background-color:rgb(36, 38, 38);
        background-image: url('/img/salle_cinema.jpg');
    }
    </style>

{% endblock %}

{% block body %}

<div class="container">
    <div class="example-wrapper text-center text-light">
        <h1>Le chti ciné</h1>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center font-weight-bold text-light">{{movie.name}}</h1>
        <p class="lead text-light">{{movie.description}}</p>
        <div class="my-4 text-light">
            <p>De  {{ movie.author.name }}, sortie en salle le {{ movie.date|date('d-m-Y') }}</p>
            <p>Genre : {% for category in movie.category %}
                {{ category.name }}
            {% endfor %}</p>
        </div>
        <div class="note text-warning mb-2">Note : {{ movie.reviews }} / 5</div>
        <div class="real text-light mb-2">
            Du même réalisateur :
            {% for movieAuthor in movie.author.movies %}
                {{ movieAuthor.name }}<br>
            {% endfor %}
        </div>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>


</div>

{% endblock %}
