{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block stylesheets %}
    <style>

    body {
        background-image: url('/img/merch-husey-Omy-jLERVBo-unsplash.jpg');
        background-attachment: fixed;
        background-size: cover;

    }
    .jumbotron {
        background-image: url('/img/denise-jans-8eQOBtgn9Qo-unsplash.jpg');
        background-size: cover;
    }
    .badge {
        border-radius: 15px;
    }
    </style>

{% endblock %}

{% block body %}

<div class="container">
    <nav class="navbar navbar-light bg-dark text-light mb-4">
        <a class="navbar-brand text-light"href="{{ path('movies', {id: movie.id}) }}">Home</a>
        <form class="form-inline my-2 my-lg-0" action="{{path('movies')}}" method="get" >
           <input name="search" class="form-control mr-sm-2"  type="search" placeholder="Rechercher">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
         </form>
    </nav>
</div>

<div class="container">
    <div class="example-wrapper text-center text-light mt-3 mb-3">
        <h1>LE CINE DU QUARTIER</h1>
    </div>
</div>
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="text-center font-weight-bold text-light">{{movie.name}}</h1>
        <p class="lead" style="background-color:white">{{movie.description}}</p>
        <div class="my-4">
            <p>Genre : {% for category in movie.category %}
                {{ category.name }}
            {% endfor %}</p>
            <p>De  {{ movie.author.name }}, sortie en salle le {{ movie.date|date('d-m-Y') }}</p>
        </div>
        <div class="note text-danger mb-2 font-weight-bold">Note : {{ movie.reviews }} / 5</div>
        <p class="lead text-center">
            <a class="btn btn-primary mb-2 mt-2" href="{{ movie.link }}" role="button">Allociné</a>
            <a class="btn btn-primary mt-3 mb-3" href="{{ path('author', {
                id: movie.author.id
            }) }}" role="button">{{ movie.author.name }}</a>
            <button class="btn btn-primary" type="button" data-toggle="collapse"
            data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Filmographies
            </button>
            <div class="collapse" id="collapseExample2">
                <div class="row">
                    {% for movieAuthor in movie.author.movies %}
                    <div class="col-3">
                        <div class="card card-body mt-4">
                            <img src="{{ movieAuthor.cover }}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </p>
    </div>
</div>

{% endblock %}
